<div class="row">
  <div class="col-md-12">
    <h1>
      List of Blogs
      <small><span>{{ count }}</span> blogs in the system</small>
    </h1>
    <hr>
  </div>
</div>

<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="blog in blogs">
        <td>{{ blog.id }}</td>
        <td>{{ blog.title }}</td>
        <td>{{ blog.body }}</td>
      </tr>
    </tbody>
  </table>
</div>